#content {
  @include textBackgroundBox();
  margin-top: 40px;
  padding: 20px;
  @include desktop {
    width: 668px;
  }
}

h2 {
  font-size: 38px;
  font-family: "Times New Roman", serif;
  font-weight: bold;
}

#left_article {
  @include textBackgroundBox();
  margin-top: 20px;
  @include desktop {
    width: 302px;
    padding: 20px;
  }
}