#content_wrapper {
  @include contentCenter();
  @include clearfix();
}

#content {
  @include textBackgroundBox();

  @include desktop {
    margin-top: 40px;
  }

  padding-top: 15px;
  padding-bottom: 40px;
  p {
    margin-top: 20px;
  }

  @include desktop {
    width: 668px;
    float: left;
  }
}

h2 {
  font-size: 38px;
  font-family: "Times New Roman", serif;
  font-weight: bold;
}

h3 {
  @extend h2;
  font-size: 24px;
}

#left_article {
  @include textBackgroundBox();
  @include desktop {
    float: left;
    width: 302px;
    height: 120px;
  }
}

#article_group {
  @extend #left_article;
  @include desktop {
    margin-left: 24px;
  }

  li {
    border-top: 1px solid #cccccc;
    padding: 7px 0;
    &:first-child {
      border-top: none;
      margin-top: 10px;
    }
  }

}

aside {
  @include desktop {
    margin-top: -489px;
    float: right;
    width: 280px;
  }

  #sidebar_article {
    h3 {
      padding-bottom: 12px;
      border-bottom: 3px solid black;
    }
  }
}