#content_wrapper {
  @include contentCenter();
}

#content {
  @include textBackgroundBox();
  margin-top: 40px;
  @include desktop {
    width: 668px;
  }
}

h2 {
  font-size: 38px;
  font-family: "Times New Roman", serif;
  font-weight: bold;
}

h3 {
  @extend h2;
  font-size: 24px;
}

#left_article {
  float: left;
  @include textBackgroundBox();
  @include desktop {
    width: 302px;
    height: 120px;
  }
}

#article_group {
  @extend #left_article;
  @include desktop {
    margin-left: 24px;
  }

  li {
    border-top: 1px solid #cccccc;
    padding: 7px 0;
    &:first-child {
      border-top: none;
      margin-top: 10px;
    }
  }

}