footer {
  @include clearfix();
  margin-top: 24px;
  padding: $globalPadding;
  background-color: #666666;
  @include font-size(12px);


  #footerInside {
    @include wrapperForHeaderAndFooter();
  }

  ul {
    list-style: none;
    li {
      display: inline;
      padding: 0 8px;
      border-left: 1px solid white;

      &:first-child {
        border: none;
        padding-left: 0;
      }
    }
  }

  p {
    padding-top: $globalPadding;
    color: #b3b3b3;
    @include desktop {
      width: 880px;
      float: left;
    }
  }

  h2 {
    color: white;
    margin-top: 15px;
    float: right;
    @include trebuchetFont();
    @include desktop {
      margin-top: 34px;
      @include font-size(31px);
    }
  }

  a {
    color: white;
  }
}