$grayDark : #4d4d4d;
$grayLight : #898989;
$headerColor : #d3135a;

body {
  @include trebuchetFont();
  background-color: #e6e6e6;

  @include desktop {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
}

p {
  line-height: 143%;
}

h2 {
  line-height: normal;
}
