$grayDark : #414141;
$grayLight : #898989;
$headerColor : #d3135a;

$globalPadding: 20px;


body {
  @include trebuchetFont();
  background-color: #e6e6e6;

  @include desktop {
    @include font-size(14px);
  }
}

a {
  text-decoration: none;
}

p {
  line-height: 143%;
}

h2 {
  line-height: normal;
}
