$headerColor : #d3135a;
$headerPadding: 20px;
$headerHeight: 77px;
header {
  background-color: $headerColor;
  height: $headerHeight;
  padding: $headerPadding;

  .headerInside {
    height: 100%;
    @include contentCenter();
    @include desktop {
      width: 1010px;
    }
    position: relative;
  }

  h1 {
    font-size: 60px;
    line-height: 69%;
    font-weight: bold;
    color: #ffc2dd;
    float: left;

    position: absolute;
    bottom: 0;
    left: 0;
  }

  #top_navigation {
    float: right;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;

    ul {
      list-style: none;
      li {
        display: inline;
        padding: 0 3px;
      }
    }

    a {
      color: black;
    }
  }

  #main_navigation {
    float: right;
    text-align: center;
    font-size: 20px;

    position: absolute;
    bottom: 0;
    right: 0;

    ul {
      list-style: none;
      li {
        display: inline;
        padding-left: 17px;
      }
    }

    a {
      color: white;

      &:hover {
        color: #333333;
      }
    }

  }

}