$headerHeight: 77px;
header {
  background-color: $headerColor;
  padding: $globalPadding;

  @include desktop {
    height: $headerHeight;
  }

  .headerInside {
    @include wrapperForHeaderAndFooter();
    @include clearfix();
  }

  h1 {
    @include font-size(60px);
    line-height: 69%;
    font-weight: bold;
    color: #ffc2dd;

    @include desktop {
      float: left;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    @include responsive {
      margin-top: 15px;
      text-align: center;
    }
  }

  #top_navigation {
    text-align: center;
    @include font-size(14px);

    ul {
      list-style: none;
      li {
        display: inline;
        padding: 0 3px;
      }
    }

    @include desktop {
      margin-top: 5px;
      float: right;
    }

    a {
      color: black;
    }
  }

  #main_navigation {
    @include desktop {
      float: right;
      text-align: center;
      @include font-size(20px);

      position: absolute;
      bottom: 0;
      right: 0;

      ul {
        list-style: none;
        li {
          display: inline;
          padding-left: 17px;
        }
      }
    }

    @include responsive {
      float: left;
      margin-top: 100px;
    }

    a {
      color: white;

      &:hover {
        color: #333333;
      }
    }

  }

}