@mixin trebuchetFont() {
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
}

$headerColor : #d3135a;
$headerHeight: 117px;

@mixin headerTitleColor() {
  color: #ffc2dd;
}

@mixin navigationHoverColor() {
  color: #333333;
}

@mixin topNavigationColor() {
  color: black;
}