@import "_reset";
@import "_variables";
@import "_sprite";
@import "_header";

html {
  @include trebuchetFont();
  background-color: #e6e6e6;
}

#content_wrapper {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
}

